@font-face {
    font-family: 'e-Ukraine';
    src: url('Fonts/e-Ukraine/e-Ukraine-Regular.eot');
    src: url('Fonts/e-Ukraine/e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.woff2') format('woff2'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.woff') format('woff'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.ttf') format('truetype'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.svg#e-Ukraine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --accent-color: #308d47;
    --accent-dark:#28743b;
    --dropdown-bg: #212529;
    --dropdown-border-color: #191929;
    --s-text:rgb(194, 194, 194);
    --color1: #1e1e1e;
    --color2: #252526;
    --color3: #333333;
    --font-color: #fff;
    --error-color: #dc3545;
    --yellow-color: #ffc107;
    --hover-bg: #313030;
    --box-shadow: 0 0 0 .25rem #1e9b3e5f;
    --box-error-shadow: 0 0 0 .25rem #dc35455f;
    --scrollbar-thumb: #474747;
    --scrollbar-track: var(--color3);
}

body{
    font-family:'e-Ukraine';
    background-color: var(--color1);
    color: var(--font-color);
    --bs-body-color: var(--font-color);
    --bs-border-color: var(--color2);
}

a{
    color: inherit;
    text-decoration: inherit;
}

.btn-accent{
    --bs-btn-color: var(--font-color);
    --bs-btn-bg: var(--accent-color);
    --bs-btn-hover-color: var(--font-color);
    --bs-btn-hover-bg: var(--accent-dark);
}

.form-control:focus, .form-select:focus, .form-check-input:focus{
    box-shadow: var(--box-shadow);
    background-color: var(--color3);
    border-color: var(--color2);
    color: var(--font-color);
}

.form-switch .form-check-input:focus:not(:checked) {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-control, .form-select{
    background-color: var(--color3);
    border-color: var(--color2);
    color: var(--font-color)
}

.form-control:disabled{
    background-color: var(--color2);
    color: var(--s-text)
}

.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.header{
    color: var(--accent-color);
}

li a{
    width: 100%;
}
li span {
    white-space:nowrap;
}

.list-group-item{
    --bs-list-group-border-color: var(--color2);
    --bs-list-group-bg: var(--color3);
    --bs-list-group-color: var(--font-color);
}

.list-group-item-action{
    --bs-list-group-border-color: var(--color2);
    --bs-list-group-bg: var(--color3);
    --bs-list-group-color: var(--font-color);
    --bs-list-group-action-hover-color: var(--font-color);
    --bs-list-group-action-hover-bg: var(--hover-bg);
    --bs-list-group-action-active-bg: var(--hover-bg);
}

.dropdown-menu-dark{
    --bs-dropdown-bg: var(--dropdown-bg);
    --bs-dropdown-link-active-bg: var(--dropdown-bg);
    --bs-dropdown-link-hover-bg: var(--dropdown-bg);
    --bs-dropdown-link-active-color: var(--accent-color);
    --bs-dropdown-link-hover-color: var(--accent-color);
    --bs-dropdown-link-color: var(--font-color);
    --bs-border-width: 1px;
    --bs-dropdown-border-color: var(--dropdown-border-color);
}

.accordion-dark{
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-color: var(--font-color);
    --bs-accordion-bg: var(--color1);
    --bs-accordion-border-color: var(--color2);
    --bs-accordion-btn-color: var(--font-color);
    --bs-accordion-btn-bg: var(--color1);
    --bs-accordion-btn-focus-border-color: var(--color2);
    --bs-accordion-active-bg: var(--color1);
    --bs-accordion-active-color: var(--font-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0;
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-dark .accordion-button:not(.collapsed) {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion .accordion-button{
    padding-left: 0;
    font-size: inherit;
}

.accordion-flush .accordion-item:last-child{
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.input-group-text{
    --bs-tertiary-bg: var(--color3);
}

.form-text{
    color: var(--s-text);
}

.form-error{
    color: var(--error-color);
}

.nav-link{
    --bs-nav-link-color: var(--font-color);
}
.nav-link:focus,.nav-link:hover{
    --bs-nav-link-hover-color: var(--accent-color);
}

.modal{
    --bs-modal-bg: var(--color1);
    --bs-modal-border-color: var(--accent-color);
}

.btn-close{
    --bs-btn-close-focus-shadow: var(--box-shadow);
}

.bi-question-circle, .bi-question{
    color: var(--yellow-color);
}

.bi-x-circle, .bi-x{
    color: var(--error-color);
}

.bi-check-circle, .bi-check{
    color: var(--accent-color)
}

.filter{
    padding-left: 0;
}

table>*:first-child>*:first-child>*:first-child{
    border-top-left-radius: var(--bs-border-radius-lg);
}
table>*:first-child>*:first-child>*:last-child{
    border-top-right-radius: var(--bs-border-radius-lg);
}
table>*:last-child>*:last-child>*:first-child{
    border-bottom-left-radius: var(--bs-border-radius-lg);
}
table>*:last-child>*:last-child>*:last-child{
    border-bottom-right-radius: var(--bs-border-radius-lg);
}

th.header{
    color: var(--accent-color);
}

.table-dark{
    --bs-table-color: var(--font-color);
    --bs-table-bg: var(--color3);
    --bs-table-border-color: var(--color2);
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg:  var(--hover-bg);
    --bs-table-hover-color: #fff;
}

.pagination {
    --bs-pagination-color: var(--font-color);
    --bs-pagination-bg: var(--color3);
    --bs-pagination-border-color: var(--color2);
    --bs-pagination-hover-color: var(--accent-color);
    --bs-pagination-hover-bg: var(--color3);
    --bs-pagination-hover-border-color: var(--color2);
    --bs-pagination-focus-color: var(--font-color);
    --bs-pagination-focus-bg: var(--accent-dark);
    --bs-pagination-focus-box-shadow: var(--box-shadow);
    --bs-pagination-active-color: var(--font-color);
    --bs-pagination-active-bg: var(--accent-dark);
    --bs-pagination-active-border-color: var(--accent-dark);
    --bs-pagination-disabled-color: var(--s-text);
    --bs-pagination-disabled-bg: var(--color3);
    --bs-pagination-disabled-border-color: var(--color2)
}

.backing{
    background: var(--color3) !important;
    border-radius: var(--bs-border-radius-lg) !important;
    border-color: var(--color2) !important;
}

.text-accent{
    color: var(--accent-color);
}

.text-error{
    color: var(--error-color);
}

.text-yellow{
    color: var(--yellow-color);
}

.scrollbar {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar::-webkit-scrollbar-thumb { 
    background: var(--scrollbar-thumb);
}

.scrollbar::-webkit-scrollbar-track { 
    background: var(--scrollbar-track);
}

input[type="file"]{
    display: none;
}

.hidden {
    display: none;
}